@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@600&display=swap');

*
{
    padding: 0; 
    margin: 0;
    box-sizing: border-box;
    overflow: hidden;
    font-family: 'Quicksand';
}

body
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background: rgb(44,255,231);
    background: linear-gradient(90deg, rgba(44,255,231,1) 0%, rgba(191,246,0,1) 100%, rgba(50,232,17,1) 100%);
}

/* Grid */
.container
{
    display: grid;
    height: 80vh;
    width: 30vw;
    background-color: white;
    grid-template-areas: 
        
        "r r r r" 
        "r r r r" 
        "ac ac del div"
        "one two three mul" 
        "four five six addt"
        "seven eight nine subt"
        "point zerot equal equal";
   
        gap: 2px;
        grid-auto-columns: minmax(2fr, 1.5fr);
}

/* Grid area definitions */

.clear-all
{
    grid-area: ac;
}

.delete
{
    grid-area: del;
}

.divide
{
    grid-area: div;
}

.one
{
    grid-area: one;
}

.two
{
    grid-area: two;
}

.three
{
    grid-area: three;
}

.multiply
{
    grid-area: mul;
}

.four
{
    grid-area: four;
}

.five
{
    grid-area: five;
}

.six
{
    grid-area: six;
}

.add
{
    grid-area: addt;
}

.seven
{
    grid-area: seven;
}

.eight
{
    grid-area: eight;
}

.nine
{
    grid-area: nine;
}

.minus
{
    grid-area: subt;
}

.point
{
    grid-area: point;
}

.zero
{
    grid-area: zerot;
}

.equal-sign
{
    grid-area: equal;
}


.btn
{
    background-color: rgb(7, 162, 218);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.4rem;
}

.btn:hover	
{
    cursor: pointer;
    background-color: teal;
    color: white;
}

.result-container
{
    color: white;
    display: flex;
    justify-content: end;
    align-items: end;
    font-size: 2rem;
    padding: 1em;
    background-color: rgb(34, 28, 28); 
    grid-area: r;
    flex-wrap: wrap;  
    flex-direction: column;
}

#procedure
{
    margin-bottom: 7vh;
}

#factors
{
    margin-top: 2vh;
    margin-bottom: 2vh;
}

#result
{
    margin-bottom: 2vh;
}



@media screen and (min-width: 18.75rem) and (max-width: 43.75rem)  
{
    .container
    {
        width: 70vw;
    }

    .result-container
    {
        font-size: 1.5rem;
    }

}