@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@600&display=swap');

:root 
{
    --gradient: linear-gradient(90deg, rgba(44,255,231,1) 0%, rgb(85, 252, 8) 100%, rgba(44,255,231,1) 0%);  
}

@keyframes bg-animation {
    0% {background-position: left}
    50% {background-position: right}
    100% {background-position: left}
  }

*
{
    padding: 0; 
    margin: 0;
    box-sizing: border-box;
    overflow: hidden;
    font-family: 'Quicksand';
}

body
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-size: 300%;
    background-image: var(--gradient);
    animation: bg-animation 4s infinite;
}

/* Grid */
.container
{
    display: grid;
    height: 80vh;
    width: 24vw;
    background-color: white;
    box-shadow: inset 10px 5px 25px 5px rgba(0, 0, 0, 0.623), 5px 5px 12px 2px rgba(0, 0, 0, 0.63);
    grid-template-areas: 
        
        "r r r r" 
        "r r r r" 
        "ac ac del div"
        "one two three mul" 
        "four five six addt"
        "seven eight nine subt"
        "point zerot equal equal";
   
        gap: 1px;
        grid-template-columns: repeat(4,1fr);
}

/* Grid area definitions */

.clear-all
{
    grid-area: ac;
}

.delete
{
    grid-area: del;
}

.divide
{
    grid-area: div;
}

.one
{
    grid-area: one;
}

.two
{
    grid-area: two;
}

.three
{
    grid-area: three;
}

.multiply
{
    grid-area: mul;
}

.four
{
    grid-area: four;
}

.five
{
    grid-area: five;
}

.six
{
    grid-area: six;
}

.add
{
    grid-area: addt;
}

.seven
{
    grid-area: seven;
}

.eight
{
    grid-area: eight;
}

.nine
{
    grid-area: nine;
}

.minus
{
    grid-area: subt;
}

.point
{
    grid-area: point;
}

.zero
{
    grid-area: zerot;
}

.equal-sign
{
    grid-area: equal;
}


.btn
{
    background-color: rgb(7, 162, 218);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.4rem;
}

.btn:hover	
{
    cursor: pointer;
    background-color: teal;
    color: white;
}

.btn:active
{
    background-color: greenyellow;
}

.result-container
{
    color: white;
    display: flex;
    justify-content: end;
    align-items: end;
    font-size: 2rem;
    padding: 1em;
    background-color: rgb(34, 28, 28); 
    grid-area: r;
    flex-wrap: wrap;  
    flex-direction: column;
}

#procedure
{
    margin-bottom: 7vh;
}

#factors
{
    margin-top: 20px;
    margin-bottom: 1.2em;
}

#result
{
    margin-bottom: .3em;
}


@media screen and (min-width: 16.75rem) and (max-width: 43.75rem)  
{
    .container
    {
        width: 70vw;
    }

    .result-container
    {
        font-size: 1.5rem;
    }

}


@media screen and (min-width: 43.75rem) and (max-width: 57.25rem)  
{
    .container
    {
        width: 60vw;
    }

    .result-container
    {
        font-size: 1.5rem;
    }
}